* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
section {
  background-color: none;
}
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #F2F2F2, #3B3C40, #BF6B82, #BF7E84);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #F2F2F2, #3B3C40, #BF6B82, #BF7E84);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }
  input{
    margin-top: 3rem;
  }
  a {
    text-decoration: none;
    color: black;
  }